# Docker compose for the development environment
services:
  # Base image for our devcontainer
  devcontainer:
    image: ghcr.io/derroylo/devcontainer-prebuilds/symfony:latest
    container_name: ${COMPOSE_PROJECT_NAME:-devcontainer}-app
    volumes:
      - ..:/var/www/html:cached
      - bashhistory:/commandhistory
      - ~/webdev:/home/webdev/webdev
      - ~/projects:/var/www/html/projects
    command: sleep infinity
    networks:
      - webdev-network
    ports:
      - "8080:8080"

  traefik:
    image: traefik:latest
    container_name: ${COMPOSE_PROJECT_NAME:-devcontainer}-traefik
    ports:
      - "80:80"
      - "443:443"
      - "8083:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik/config/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "./traefik/config/dynamic.yml:/etc/traefik/dynamic.yml:ro"
      - "./traefik/certs/:/etc/certs:ro"
    networks:
      - webdev-network

  # MySql Server
  # For more infos check: https://hub.docker.com/_/mysql/
  mysql:
    image: mysql:8.0
    container_name: ${COMPOSE_PROJECT_NAME:-devcontainer}-mysql
    networks:
      - webdev-network
    ports:
      # make this port public so it can also accessed via HeidiSQL or similar tools
      - 3306:3306
    environment:
      # mysql root password
      - MYSQL_ROOT_PASSWORD=webdev
      # create this database by default
      - MYSQL_DATABASE=webdev
      # allow connections from any host
      - MYSQL_ROOT_HOST=%

  # Mailpit (can fetch all outgoing mails and show them via webinterface)
  # For more infos check: https://hub.docker.com/r/axllent/mailpit
  mailpit:
    image: axllent/mailpit:latest
    container_name: ${COMPOSE_PROJECT_NAME:-devcontainer}-mailpit
    networks:
      - webdev-network
    ports:
      # make this port public for the webinterface
      - 8025:8025
      # port for incoming mails
      - 1025:1025

  # Redis Server
  # For more infos check: https://hub.docker.com/_/redis
  redis:
    image: redis:latest
    networks:
      - webdev-network
    container_name: ${COMPOSE_PROJECT_NAME:-devcontainer}-redis
    ports:
      - 6379:6379

  # PhpMyAdmin
  # For more infos check: https://hub.docker.com/_/phpmyadmin
  phpmyadmin:
    image: phpmyadmin:latest
    container_name: ${COMPOSE_PROJECT_NAME:-devcontainer}-pma
    depends_on:
      - mysql
    networks:
      - webdev-network
    environment:
      - PMA_HOST=mysql
      - PMA_USER=root
      - PMA_PASSWORD=webdev
      - UPLOAD_LIMIT=2048M
      - PMA_PMADB=pma
    ports:
      - "8081:80"
    volumes:
      - /tmp/apache2/logs:/var/log/apache2

  # PhpCacheAdmin
  # For more infos check: https://hub.docker.com/r/robinn/phpcacheadmin
  phpcacheadmin:
    image: robinn/phpcacheadmin
    container_name: ${COMPOSE_PROJECT_NAME:-devcontainer}-phpcacheadmin
    networks:
      - webdev-network
    ports:
      - "8082:80"
    environment:
      - PCA_REDIS_0_HOST=redis
      - PCA_REDIS_0_PORT=6379
    volumes:
      - /tmp/apache2/logs:/var/log/apache2

volumes:
  bashhistory:

networks:
  webdev-network:
    driver: bridge